@import '../../assets/styles/variables';
#Code {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#canvas-container {
  width: 100%;
  padding: $spacing-small;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: $spacing-small;
  background-color: $rcot-color-white;

  &.hidden {
    display: none;
  }

  canvas {
    width: 100%; // Scales to the container's width
    max-width: 100%;
    height: auto; // Maintains aspect ratio
  }
}

.download-button {
  font-family: 'Cera Pro', sans-serif;
  background-color: $rcot-color-teal; // Transparent background
  border: 2px solid $rcot-color-teal; // Border in dark teal
  color: $rcot-color-dark-teal; // Text and icon color
  border-radius: 25px;
  padding: $spacing-small $spacing-large;
  font-size: 1rem;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 8px; // Space between the icon and text
  transition: background-color 0.3s ease, color 0.3s ease;

  &:hover {
    background-color: $rcot-color-dark-teal; // Dark teal background on hover
    color: $rcot-color-white; // White text and icon on hover
  }

  &:disabled {
    background-color: transparent; // Maintain transparency when disabled
    border-color: #ccc; // Lighter border for disabled state
    color: #ccc; // Lighter text and icon for disabled state
    cursor: not-allowed;
  }

  .download-icon {
    font-size: 1.25rem; // Icon size
  }
}