@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import './assets/fonts/stylesheet.css';

:root {
    --rcot-color-yellow: #f7e64d;
    --rcot-color-pink: #ffc2ff;
    --rcot-color-white: #ffffff;
    --rcot-color-blue: #7ee1e8;
    --rcot-color-purple: #6f35a3;
    --rcot-color-teal: #43cfb5;
    --rcot-color-light-grey: #f0f0f0;
    --rcot-color-lilac: #7575df;
    --rcot-color-red: #e8705e;
    --rcot-color-dark-teal: #003643;
    --rcot-color-dark-grey: #616161;

    /* Add reusable spacing variables */
    --spacing-small: 8px;
    --spacing-medium: 16px;
    --spacing-large: 32px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*min-height: 100vh;*/
    width: 600px;
    padding: var(--spacing-large);
    background-color: var(--rcot-color-light-grey);
}

form {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-medium);
    width: 100%;
    max-width: 600px;
    padding: var(--spacing-large);
    background-color: var(--rcot-color-white);
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: var(--spacing-medium);
}

.input {
    display: flex;
    flex-direction: column;
}

.form-item {
    color: var(--rcot-color-purple);
    font-size: 1rem;
}

input[type="text"] {
    font-family: inherit;
    height: calc(1.5em + .75rem + 2px);
    border: 2px solid rgba(0, 54, 67, 0.5);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    padding: .5rem;
    border-radius: 4px;
    font-size: 1rem;
    color: var(--rcot-color-dark-grey);
}

input[type="text"]:hover,
input[type="text"]:focus,
input[type="text"]:active {
    border-color: #00958f;
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(0, 149, 143, 0.25);
}

input[type="submit"] {
    font-family: 'Cera Pro', sans-serif;
    font-weight: bold;
    background-color: var(--rcot-color-teal);
    border-radius: 25px;
    border: none;
    color: var(--rcot-color-white);
    padding: var(--spacing-small) var(--spacing-large);
    cursor: pointer;
    font-size: 1rem;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

/* Submit button hover animation */
input[type="submit"]:hover {
    background-color: var(--rcot-color-dark-teal);
    transform: translateY(-3px); /* Lift effect */
}

/* Submit button active state */
input[type="submit"]:active {
    transform: translateY(1px); /* Slight push effect */
}

#canvas-container {
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    overflow: clip;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: var(--spacing-small);
}

#canvas-container canvas {
    width: 100%;   /* Scales to the container's width */
    max-width: 100%;
    height: auto;  /* Maintains aspect ratio */
}

.dark-teal-icon {
    color: var(--rcot-color-dark-teal);
    font-size: 24px;
    cursor: pointer;
    transition: opacity 0.3s ease, transform 0.2s ease;
}

.dark-teal-icon.hidden {
    opacity: 0;
    transform: scale(0.8);
}

.dark-teal-icon:not(.hidden) {
    opacity: 1;
    transform: scale(1);
}