
$rcot-color-yellow: #f7e64d;
$rcot-color-pink: #ffc2ff;
$rcot-color-white: #ffffff;
$rcot-color-blue: #7ee1e8;
$rcot-color-purple: #6f35a3;
$rcot-color-teal: #43cfb5;
$rcot-color-light-grey: #f0f0f0;
$rcot-color-lilac: #7575df;
$rcot-color-red: #e8705e;
$rcot-color-dark-teal: #003643;
$rcot-color-dark-grey: #616161;


/* Add reusable spacing variables */
$spacing-small: 8px;
$spacing-medium: 16px;
$spacing-large: 32px;